<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Regresión Lineal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <table>
        <tr>
            <td>
                <h1>Regresión Lineal</h1>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>
                        <h3>Simple</h3><br>
                        http://IP/rls/[Lista X]/[Lista Y]
                    </li>
                    <li>
                        <h3>Multiple</h3><br>
                        http://IP/rlm/[Lista X1]/[Lista X2]/[Lista Y]
                    </li>
                    <li>
                        <h3>Polinomial</h3>
                        http://IP/rls/[Lista X]/[Lista Y]
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>